body {
  background-image: linear-gradient(to left, rgb(199, 233, 30), rgb(245, 11, 11));
}
h1 {
  font-family: 'SEGA LOGO FONT', sans-serif;
  color: rgba(23, 22, 22, 0.611);
  letter-spacing: 2px;
}

input{
  border-radius: 12px;
}

h2, p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}